body{
	background-color: #f2f2ff;
}

#puzzle{
	width: 600px;
	height: 400px;
	margin: 40px;
	border: 4px solid black;

}
*{
	position: Static;
}
img.topleft{

}
img.topright{
	
}
img.bottomleft{
	
}
img.bottomright{
	
}
